{% extends "base.html" %}
{% block content %}
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" class="main_form">
                        {% csrf_token %}
                        {% for f in form %}
                            <p><label class="" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                            <div class="">{{ f.errors }}</div>
                        {% endfor %}
                        <input class="send" style="border-radius: 40px;" type="submit" value="Create">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}