{% extends "base.html" %}
{% block content %}
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" class="main_form">
                        {% csrf_token %}
                        {{ form.as_p }}
{#                        <div class="row">#}
{#                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">#}
{#                                {{ form.username }}#}
{#                            </div>#}
{#                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">#}
{#                                {{ form.password }}#}
{#                            </div>#}
{#                        </div>#}
                        <a style="color: #bd2130;" href="{% url "registration" %}">No account? Click here!</a>
                        <input class="send" style="border-radius: 40px;" type="submit" value="login">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}