{% extends "base.html" %}
{% load static %}
<div>
    <h1>Profile page of Username</h1>
    <div>
        <h1>FIRST NAME</h1>
        <h1>LAST NAME</h1>
        <h1>EMAIL</h1>
    </div>
    <div>
        <a href="">Change Password</a>
    </div>
</div>