{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- contact -->
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if user.is_authenticated %}
                        <form action="{% url "contact us" %}" method="post" class="main_form">
                            {% if form.non_field_errors %}
                                <div class="alert alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                                {{ form.non_field_errors }}
                            {% endif %}

                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% if form.email.errors %}
                                        {{ form.email.errors }}
                                    {% endif %}
                                    {{ form.email }}
                                </div>
                                <div class="col-md-12">
                                    {% if form.phone.errors %}
                                        {{ form.phone.errors }}
                                    {% endif %}
                                    {{ form.phone }}
                                </div>
                                <div class="col-md-12">
                                    {% if form.message.errors %}
                                        {{ form.message.errors }}
                                    {% endif %}
                                    {{ form.message }}
                                </div>
                                <div class=" col-md-12">
                                    <button class="send" style="border-radius: 40px;">Send</button>
                                </div>
                            </div>

                        </form>
                    {% else %}
                        <h1>Это функцию могут использовать только авторизированые пользователи</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}