{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Catalog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div>
            <form method="get" class="main_form">
                <div style="margin-left: 40%">
                    <h1 style="font-size: 48px">Filter</h1>
                    <a style="color: #ff0000; font-size: 24px;" href="{% url "shop" %}">clean form</a>
                    {{ form.as_p }}
                </div>
                <input class="send" style="border-radius: 40px;" type="submit" value="filter">
            </form>
        </div>
        <div class="container">
        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    {% if page_object %}
                        {% for phone in page_object %}
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin product-box">
                                <div class="brand_box">
                                    <img style="object-fit: cover;" width="230" height="230"
                                         src="{{ phone.main_image }}" alt="{% static "img" %}"/>
                                    <h3><strong class="red">{% if phone.price == 0 %}Not available{% else %}{{ phone.price }}${% endif %}</strong></h3>
                                    <span class="zagolovok">{{ phone.name }}</span>
                                    {% for s in phone.stars|star:"0" %}
                                        <i><img src="{% if s == "*" %}{% static "images/star.png" %}{% else %}{% static "images/empty_star.png" %}{% endif %}"/></i>
                                    {% endfor %}
                                    <a href="{% url "detail" phone.pk %}" class="read-more">See More</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        No Such phones
                    {% endif %}
                        <div class="col-md-12">
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_object.has_previous %}
                                        <a class="read-more" href="?{% for key, value in request.GET.items %}{% if key != "page" %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1">&laquo; first</a>
                                        <a class="read-more" href="?{% for key, value in request.GET.items %}{% if key != "page" %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_object.previous_page_number }}">previous</a>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                                    </span>
                                    {% if page_object.has_next %}
                                        <a class="read-more" href="?{% for key, value in request.GET.items %}{% if key != "page" %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_object.next_page_number }}">next</a>
                                        <a class="read-more" href="?{% for key, value in request.GET.items %}{% if key != "page" %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_object.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end brand -->

    <!-- footer -->
{% endblock content %}