{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block content %}
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Basket</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 7%">
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                        {% for phone in bucket.phones.all %}
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin product-box">
                                <div class="brand_box">
                                    <img style="object-fit: cover;" width="230" height="230"
                                         src="{{ phone.main_image }}" alt="{% static "img" %}"/>
                                    <h3><strong class="red">{% if phone.price == 0 %}Not available{% else %}{{ phone.price }}${% endif %}</strong></h3>
                                    <span class="zagolovok">{{ phone.name }}</span>
                                    {% for s in phone.stars|star:"0" %}
                                        <i><img src="{% if s == "*" %}{% static "images/star.png" %}{% else %}{% static "images/empty_star.png" %}{% endif %}"/></i>
                                    {% endfor %}
                                    <a href="{% url "detail" phone.pk %}" class="read-more">See More</a>
                                    <a style="color: #ff0000; font-size: 32px;" href="{% url "bucket_delete" phone.pk %}">delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {#        {{ bucket.phones }}#}
{% endblock content %}