{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block content %}
    <div style="background: #ebebeb;">
        <div style="margin:0 15%; background: #fff; padding-top: 90px">
            <h1 style="text-align: center; font-family:'Segoe UI Bold',Helvetica,Arial,sans-serif;color: #19449b;">{{ phone.name }}</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="margin: 0 10%; height: 600px">
                            <figure style="width: 408px;height: 600px;margin: 0;float: left;overflow: hidden;text-align: center; box-sizing: border-box;">
                                <div style="width: 100%;height: 100%;display: block!important;">
                                    <img style="width: auto;height: 100%;display: inline-block!important;vertical-align: top;"
                                         src="{{ phone.main_image }}">
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        {{ phone.description }}
                        <div style="">
                            {% for s in phone.stars|star:"0" %}
                                <i><img src="
                                        {% if s == "*" %}{% static "images/star.png" %}{% else %}{% static "images/empty_star.png" %}{% endif %}"/></i>
                            {% endfor %}
                        </div>
                        <p>{% if phone.price == 0 %}Not available{% else %}{{ phone.price }}${% endif %}</p>
                        {% if user.is_authenticated %}
                            <a href="{% url "bucket_create" phone_pk %}" style="margin-top: 5%" class="read-more">send to basket</a>
                        {% else %}
                            <h1>Send to basket can only registered users</h1>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div>
                        <h1>Video and photos</h1>
                    </div>
                    <div>
                        <div id="carouselExampleIndicators" class="carousel">
                            <div class="carousel-inner">
                                {% for b in images %}
                                    <div class="carousel-item {% if b.0 == 0 %}active{% endif %}">
                                        <div style="padding-left: 25%; padding-right: 25%">
                                            <img class="d-block active" src="{{ b.1 }}" width="100%">
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <h1>Comments</h1>
                        {% if user.is_authenticated %}
                            {% if is_write %}
                                <div>
                                    <h1 style="color: #bd2130">You write your comment, and you can't write, no more
                                        comments</h1>
                                </div>
                            {% else %}
                                <form method="post" class="main_form">
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                        {{ form.non_field_errors }}
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            {% if form.title.errors %}
                                                {{ form.title.errors }}
                                            {% endif %}
                                            {{ form.title }}
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                            {% if form.body.errors %}
                                                {{ form.body.errors }}
                                            {% endif %}
                                            {{ form.body }}
                                        </div>
                                        <div class=" col-md-12">
                                            {% if form.stars.errors %}
                                                {{ form.stars.errors }}
                                            {% endif %}
                                            {{ form.stars }}
                                        </div>
                                        <div class=" col-md-12">
                                            <button class="send" style="border-radius: 40px;">Send</button>
                                        </div>
                                </form>
                            {% endif %}
                        {% else %}
                            <h1>Only login users can write comments </h1>
                        {% endif %}
                    </div>
                    {% for i in page_object %}
                        <div style="margin: 15px 15px 0 15px; background-color: #ebebeb">
                            <h3>{{ i.author }}</h3>
                            <div>{{ i.title }}</div>
                            <div>{{ i.body }}</div>
                            <div>
                                {% for s in i.stars|star:"0" %}
                                    <i><img src="

                                            {% if s == "*" %}{% static "images/star.png" %}{% else %}{% static "images/empty_star.png" %}{% endif %}"/></i>
                                {% endfor %}
                            </div>
                            <div>{{ i.created }}</div>
                        </div>
                    {% endfor %}
                    <div class="pagination">
                            <span class="step-links">
                                {% if page_object.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ page_object.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ page_object.number }} of {{ page_object.paginator.num_pages }}.
                                </span>
                                {% if page_object.has_next %}
                                    <a href="?page={{ page_object.next_page_number }}">next</a>
                                    <a href="?page={{ page_object.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}