{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>{{ title }}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static "images/fovicon.png" %}" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css" %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}"/>
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fancybox.min.css" %}" media="screen">

    <script src="{% static "js/html5shiv.min.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
</head>

<body class="main-layout ">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<!-- loader  -->
<div class="loader_bg">
    <div class="loader"><img src="{% static "images/loading.gif" %}" alt="#"/></div>
</div>
<!-- end loader -->
<!-- header -->
<header>
    <!-- header inner -->
    <div class="header">

        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="{% url "index" %}"><img src="{% static "images/logo.png" %}" alt="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li><a {% if page_tag == "home" %}style="color: #051108;"{% endif %}
                                           href="{% url 'index' %}">Home</a></li>
                                    <li><a {% if page_tag == "about" %}style="color: #051108;"{% endif %}
                                           href="{% url 'about' %}">About</a></li>
                                    <li><a {% if page_tag == "shop" %}style="color: #051108;"{% endif %}
                                           href="{% url 'shop' %}">Shop</a></li>
                                    <li><a {% if page_tag == "contact_us" %}style="color: #051108;"{% endif %}
                                           href={% url 'contact us' %}>Contact Us</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a href={% url 'logout' %}?next={{ request.path }}>Logout</a></li>
                                        <li><a href="{% url "bucket" %}"><img src="{%  static "icon/basket2.png" %}" width="40"></a></li>
                                    {% else %}
                                        <li><a href={% url 'login' %}?next={{ request.path }}>Login</a></li>
                                    {% endif %}
{#                                    <li class="last">#}
{#                                        <a href="#"><img src="{% static "images/search_icon.png" %}" alt="icon"/></a>#}
{#                                    </li>#}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-6">
                    <div class="location_icon_bottum">
                        <ul>
                            <li>
                                {% for phone in contact_phones %}
                                    <img src="{% static "icon/call.png" %}"/>{{ phone }}<br>
                                {% endfor %}
                            </li>
                            <li style="vertical-align: top"><img src="{% static "icon/email.png" %}"/>{{ contact_email }}</li>
{#                            <li onclick="location.href='https://www.google.com/maps/@53.682035,27.3418931,1528m/data=!3m1!1e3?hl=ru&entry=ttu';" style="vertical-align:top"><img src="{% static "icon/loc.png" %}"/>Location</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>
<div class="cart">
</div>
{% block content %}

{% endblock content %}
<footer>
    <div id="contact" class="footer">
        <div class="container">
            <div class="row pdn-top-30">
                <div class="col-md-12 ">
                    <div class="footer-box">
                        <div class="headinga">
                            <h3>Address</h3>
                            <span>Healing Center, 176 W Streetname,New York, NY 10014, US</span>
                            <p>(+71) 8522369417<br>demo@gmail.com</p>
                        </div>
                        <ul class="location_icon">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>

                        </ul>
                        <div class="menu-bottom">
                            <ul class="link">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#"> Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/jquery-3.0.0.min.js" %}"></script>
{#<script src="{% static "js/plugin.js" %}"></script>#}
<!-- sidebar -->
<script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<!-- javascript -->
<script src="{% static "js/owl.carousel.js" %}"></script>
<script src="{% static "js/jquery.fancybox.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function () {

            $(this).addClass('transition');
        }, function () {

            $(this).removeClass('transition');
        });
    });


</script>
</body>
</html>